@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", sans-serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1440px;
    width: 100%;
    padding: 20px 140px 0;
    margin: 0 auto;
    background-color: #d5d4df17;
}

/* nav section start */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

header nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

header nav div h2{
    font-size: 32px;
    line-height: 30px;
    font-weight: bold;
    color: black;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

header nav button{
    padding: 10px 60.50px;
    border-radius: 12px;
    border-style: none;
    background-color: orange;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;
}

header nav .menu{
    display: none;
}

/* nav section end */

/* banner section start */

header #banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

header #banner .bnr-txt-div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

header #banner .bnr-txt-div h2{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
    color: black;
}

header #banner .bnr-txt-div p{
    font-size: 20px;
    color: black;
}

header #banner .bnr-txt-div button{
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    background-color: black;
    border: none;
    padding: 10px 47px;
    border-radius: 12px;
    cursor: pointer;
}

/* banner section end */
/* header section end */

/* Curriculum section start */
main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

main #curriculum{
    background-image: url(../assets/bg.png);
    background-color: #d5d4df17;
    background-repeat: no-repeat;
}

main #curriculum .crclm-container{
    padding: 60px 140px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:80px;
}

main #curriculum .crclm-container h2{
    font-size: 46px;
    font-weight: bold;
    line-height: 57.5px;
    color: black;
}

main #curriculum .crclm-container .card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:28px;
}

main #curriculum .crclm-container .card-section .card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:33px;
    padding: 52px 40.5px;
}

main #curriculum .crclm-container .card-section .card1 h3,
main #curriculum .crclm-container .card-section .card2 h3,
main #curriculum .crclm-container .card-section .card3 h3{
    font-size: 24.52px;
    font-weight: bold;
    line-height: 30.7px;
    color: #202020;
}

main #curriculum .crclm-container .card-section .card1 p,
main #curriculum .crclm-container .card-section .card2 p,
main #curriculum .crclm-container .card-section .card3 p{
    font-size: 15.09;
    font-weight: 500;
    line-height: 28.3px;
    color: #808080;
}

main #curriculum .crclm-container .card-section .card1 button,
main #curriculum .crclm-container .card-section .card2 button,
main #curriculum .crclm-container .card-section .card3 button{
    font-size: 15.09px;
    line-height: 28.3px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

main #curriculum .crclm-container .card-section .card1{
    background: linear-gradient(#DEF5FF,white,white);
    border-radius: 18.86px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

main #curriculum .crclm-container .card-section .card2{
    background: linear-gradient(#FFF4DC,white,white);
    border-radius: 18.86px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

main #curriculum .crclm-container .card-section .card3{
    background: linear-gradient(#F2E8FF,white,white);
    border-radius: 18.86px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

main #curriculum .crclm-container .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

main #curriculum .crclm-container .icons button{
    border: none;
    background-color: transparent;
    background-color: orange;
    border-radius: 50%;
    padding: 15px;
    color: white;
}

main #stories{
    background-repeat: no-repeat;
    background: linear-gradient(to top, rgba(255, 166, 0, 0.24), rgba(255, 166, 0, 0.11), #d5d4df21), url(../assets/bg.png);
    padding: 60px 140px;
}

main #stories .stories-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:80px;
}

main #stories .stories-content h1{
    font-size: 46px;
    line-height: 57.5px;
    font-weight: bold;
}

main #stories .stories-content .stories-images{
    display: grid;
    grid-template-columns: 540px 291px 291px;
    grid-template-rows:repeat(2,1fr);
    gap:18px;
}

main #stories .stories-content .stories-images .large-card{
    grid-column: span 1;
    grid-row: span 2;
}

main #stories .stories-content .stories-images .stories-card{
    border-radius: 16px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

main #stories .stories-content .stories-images .large-card h3{
    font-size: 24px;
    line-height: 38.3px;
    font-weight: bold;
    margin: 58px 38px 47px;
}

main #stories .stories-content .stories-images .large-card p{
    font-size: 15.34px;
    line-height: 28.8px;
    font-weight: 500;
    margin: 0px 68px 38px 34px;
    color: #666666;
}

main #stories .stories-content .stories-images .nrml-card h3{
    margin: 38px 38px 28px;
    font-size: 15.34px;
    line-height: 28.8px;
    font-weight: bold;
}

main #stories .stories-content button{
    padding: 10px 61px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

main #stories .stories-content .stories-images .stories-card .lrg-md{
    position: absolute;
    color: white;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.8px;
    background-color: #3CD8E8;
    padding: 14px 18px;
    /* z-index: 1; */
    border-radius: 50px;
    top: 312px;
    left: 38px;
}

main #stories .stories-content .stories-images .stories-card .grn-md{
    position: absolute;
    color: white;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.8px;
    background-color: #95B226;
    padding: 9px 18px;
    /* z-index: 1; */
    border-radius: 50px;
    top: 157px;
    left: 37px;
}

/* Stories section end */

/* main section end */

/* footer section start */
footer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #01ACFD;
    padding: 150px 140px 130px;
}

footer #ftr-content{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-items: top;
    justify-content: center;
    /* gap: */
}

footer #ftr-content .left-div .logo{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
}

footer #ftr-content .left-div .logo h1{
    font-size: 42.14px;
    line-height: 39.5px;
    font-weight: bold;
    color: white;
}

footer #ftr-content .left-div p{
    max-width: 390px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.781);
}

footer #ftr-content .mid-div h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

footer #ftr-content .mid-div ul li{
    margin-bottom: 20px;
    list-style: none;
}

footer #ftr-content .mid-div ul li a{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.767);
    text-decoration: none;
}

footer #ftr-content .right-div h3{
    font-size: 26px;
    line-height: 26px;
    color: white;
    font-weight: bold;
    margin-bottom: 32px;
}

footer #ftr-content .right-div .links{
    display: flex;
    gap: 10px;
    align-items: center;
}




/* footer section end */












/* responsive design part */
@media screen and (max-width:576px) {
    
    header{
        padding: 0px;
    }

    /* nav section start */

    header nav{
        width: 100%;
        padding: 12px 15px;
        border-bottom: rgba(255, 166, 0, 0.733) 1px solid;
    }
    
    header nav div h2,
    header nav ul,button{
        display: none;
    }

    header nav .menu{
        display: block;
        color: black;
        font-size: 20px;
    }

    /* nav section end */

    /* banner section start */

    header #banner{
        flex-direction: column-reverse;
        width: 100%;
        gap: 25px;
        margin-top: 30px;
    }

    header #banner .bnr-txt-div{
        text-align: center;
        justify-content: center;
        width: 90%;
        gap: 18px;
    }

    header #banner .bnr-txt-div h2{
        font-size: 32px;
        line-height: normal;
    }

    header #banner .bnr-txt-div p{
        font-size: 14px;
    }

    header #banner .bnr-img-div{
        display: flex;
        justify-content: center;
    }

    header #banner .bnr-img-div img{
        width: 90%;
    }

    header #banner .bnr-txt-div button{
    padding: 8px 25px;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
}
/* banner section end */

    main #curriculum .crclm-container{
        padding: 30px 20px 0;
        gap:10px;

    }

    main #curriculum .crclm-container h2{
            font-size: 24px;
        }

    main #curriculum .card-section{
        flex-direction: column;
    }

    /* Curriculum section end */

    /* Stories section start */

    main #stories{
        padding: 28px 10px;
        /* margin: 0; */
    }

    main #stories .stories-content h1{
        font-size: 35px;
    }

    main #stories .stories-content{
        width: 90%;
        margin: 0 auto;
        gap: 30px;
    }
    
    main #stories .stories-content .stories-images{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }

    main #stories .stories-content .stories-images .stories-card{
        width: 100%;
        grid-column: span 1;
        grid-row: span 1;
    }

    main #stories .stories-content .stories-images .large-card{
        width: 100%;
        grid-column: span 2;
        grid-row: span 2;
    }

    main #stories .stories-content button{
        display: block;
    }

    main #curriculum .crclm-container .icons{
        visibility: hidden;
    }

    main #stories .stories-content .stories-images .stories-card .grn-md{
        font-size: 10px;
        padding: 5px 10px;
    }
    /* Stories section end */
/* main section end */

    /* footer seciton start */
    footer{
        padding: 40px 2px;
    }

    footer #ftr-content{
        grid-template-columns: 350px;
        justify-items: start;
        gap: 25px;
    }

    footer #ftr-content .left-div .logo{
        margin-bottom: 5px;
    }

    footer #ftr-content .left-div .logo h1{
        font-size: 35px;
    }

    footer #ftr-content .left-div p{
        font-size: 16px;
    }
    /* footer section end */
}