@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
  font-family: "Quicksand", sans-serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: 1440px;
    width: 100%;
    padding: 20px 140px 0;
    margin: 0 auto;
    background-color: #d5d4df17;
}

/* nav section start */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

header nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

header nav div h2{
    font-size: 32px;
    line-height: 30px;
    font-weight: bold;
    color: black;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

header nav button{
    padding: 10px 60.50px;
    border-radius: 12px;
    border-style: none;
    background-color: orange;
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

header nav .menu{
    display: none;
}

/* nav section end */

/* banner section start */

header #banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

header #banner .bnr-txt-div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

header #banner .bnr-txt-div h2{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
    color: black;
}

header #banner .bnr-txt-div p{
    font-size: 20px;
    color: black;
}

header #banner .bnr-txt-div button{
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    background-color: black;
    border: none;
    padding: 10px 47px;
    border-radius: 12px;
}

/* banner section end */











/* responsive design part */
@media screen and (max-width:576px) {
    
    header{
        padding: 0px;
    }

    /* nav section start */

    header nav{
        width: 100%;
        padding: 12px 15px;
        border-bottom: rgba(255, 166, 0, 0.733) 1px solid;
    }
    
    header nav div h2,
    header nav ul,button{
        display: none;
    }

    header nav .menu{
        display: block;
        color: black;
        font-size: 20px;
    }

    /* nav section end */

    /* banner section start */

    header #banner{
        flex-direction: column-reverse;
        width: 100%;
        gap: 25px;
        margin-top: 30px;
    }

    header #banner .bnr-txt-div{
        text-align: center;
        justify-content: center;
        width: 90%;
        gap: 18px;
    }

    header #banner .bnr-txt-div h2{
        font-size: 32px;
        line-height: normal;
    }

    header #banner .bnr-txt-div p{
        font-size: 14px;
    }

    header #banner .bnr-img-div{
        display: flex;
        justify-content: center;
    }

    header #banner .bnr-img-div img{
        width: 90%;
    }

    header #banner .bnr-txt-div button{
    padding: 8px 25px;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
}
    /* banner section end */
}